@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.savedMoviesSection {
    width: 47.5%;

    h2.savedMoviesHeader {
        text-align: center;
        margin-bottom: 90px;
        font-family: "Poetsen One", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
}